.d3_boxs{
	background-color: white;
	padding: 25px;
	margin-top: 20px;
	position: relative;
}
.d3_botit{
	text-align: center;
	height: 40px;
    line-height: 40px;
    color: #4d4d57;
    font-size: 20px;
}
.d3_biton{
	width: 370px;
	height: 40px;
	line-height: 40px;
	margin: 25px auto 0px auto;
}
.paicha{
	display: block;
	color: white;
	width: 90px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: #24CBB2;
	position: absolute;
	top: 90px;
	right: 30px;
	border-radius: 10px;
	font-size: 16px;
}
.d3_biton>a{
	display: block;
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	background-color: #24cbb2;
	color: white;
}
.d3_btnbox{
	width: 340px;
	height: 40px;
	margin: 40px auto 70px auto;
}
.d3_btnbox>a{
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: white;
	background-color: #24cbb2;
}
.d3_liutit{
	color: #7e7e7e;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	height: 40px;
}
.d3_liuboxs{
	overflow: hidden;
	position: relative;
	border: 1px solid #dedede;
	background-color: #fcfcfc;
	margin-top: 25px;
	margin-bottom: 60px;
	color: #666666;
}
.zhixingtam{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.zhixingtam>p{
	float: left;
    width: 120px;
    padding-right: 5px;
    text-align: right;
}
.d3_liupore{
	margin-left: 12%;
	padding-bottom: 25px;
}
.xuanze_box{
	height: 76px;
}
.xuanze_btn{
	border: none;
	width: 120px;
	height: 30px;
	margin-top: 23px;
	margin-right: 20px;
	color: white;
    background-color: #24CBB2;
    border-radius: 5px;
    outline: none;
}
.yingjitext{
	font-size: 16px;
	margin-top: 20px;
}
.yingjitext{
	position: relative;
	line-height: 30px;
}
.yingjitext>p{
	position: absolute;
	width: 120px;
	text-align: right;
	padding-right: 5px;
}
.yingjitext>div{
	margin-left: 120px;
	padding-right: 10px;
	box-sizing: border-box;
}
.d3_liuyingbox{
	margin-bottom: 70px;
}
.d3_ddcc{
	border:1px solid #dedede;
	background-color: #fcfcfc;
	color: #666666;
	padding: 20px 0px;
	min-height: 120px;
}
.d3_liua{
	line-height: 34px;
	position: relative;
}
.d3_liua>p{
	float: left;
}
.d3_liua>div{
	
}
.d3_liubtn{
	display: block;
	border: none;
	border-radius: 10px;
	background-color: #24CBB2;
	color: white;
	height: 30px;
	padding: 0px 20px;
	outline: none;
}
