.d5btna{
	display: block;
	width: 120px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background-color: #24CBB2;
	color: white;
	font-size: 16px;
	border-radius: 10px;
	margin: 0px auto;
}

.npaicbxz .jinjipai{
	width: 100px;
	background-color: #22c0ef;
}
@media (min-width: 1500px){
	.jinjiul .col-lg-3 > div {
		margin-right:25%;
	}
	.jinjiul .col-lg-3 >.jinjiule{
		margin-right: 0;
	}
}
@media (min-width: 1200px) and (max-width: 1500px){
	.jinjiul .col-lg-3 > div {
		margin-right:10%;
	}
	.jinjiul .col-lg-3 >.jinjiule{
		margin-right: 0;
	}
}




