<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Measures_message_doMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into FT_MEASURES_MESSAGE_DO(
			CLIENT_PROBLEM_COLLECTION_ID,	
			COMPANY_ID,	
			MEASURESNAME,	
			CREATETIME,	
			DOTIME,	
			EFFICIENT,	
			VALIDATION,	
			ATTACHMENTNURL,	
			RESPONSIBLE,	
			ATTACHMENTNAME,	
			EXECUTIONDATE,	
			MEASURES_MESSAGE_DO_ID
		) values (
			#{CLIENT_PROBLEM_COLLECTION_ID},	
			#{COMPANY_ID},	
			#{MEASURESNAME},	
			now(),	
			#{DOTIME},	
			#{EFFICIENT},	
			#{VALIDATION},	
			#{ATTACHMENTNURL},	
			#{RESPONSIBLE},	
			#{ATTACHMENTNAME},	
			#{EXECUTIONDATE},	
			#{MEASURES_MESSAGE_DO_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from FT_MEASURES_MESSAGE_DO
		where 
			MEASURES_MESSAGE_DO_ID = #{MEASURES_MESSAGE_DO_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  FT_MEASURES_MESSAGE_DO
			set 
				<if test="CLIENT_PROBLEM_COLLECTION_ID !=null and CLIENT_PROBLEM_COLLECTION_ID !=''">
					CLIENT_PROBLEM_COLLECTION_ID = #{CLIENT_PROBLEM_COLLECTION_ID},
				</if>
				<if test="COMPANY_ID !=null and COMPANY_ID !=''">
					COMPANY_ID = #{COMPANY_ID},
				</if>
				<if test="MEASURESNAME !=null and MEASURESNAME !=''">
					MEASURESNAME = #{MEASURESNAME},
				</if>
				CREATETIME = CREATETIME,
				<if test="DOTIME !=null and DOTIME !=''">
					DOTIME = #{DOTIME},
				</if>
				<if test="EFFICIENT !=null and EFFICIENT !=''">
					EFFICIENT = #{EFFICIENT},
				</if>
				<if test="VALIDATION !=null and VALIDATION !=''">
					VALIDATION = #{VALIDATION},
				</if>
				<if test="ATTACHMENTNURL !=null">
					ATTACHMENTNURL = #{ATTACHMENTNURL},
				</if>
				<if test="RESPONSIBLE !=null and RESPONSIBLE !=''">
					RESPONSIBLE = #{RESPONSIBLE},
				</if>
				<if test="ATTACHMENTNAME !=null and ATTACHMENTNAME !=''">
					ATTACHMENTNAME = #{ATTACHMENTNAME},
				</if>
				<if test="EXECUTIONDATE !=null and EXECUTIONDATE !=''">
					EXECUTIONDATE = #{EXECUTIONDATE},
				</if>
			MEASURES_MESSAGE_DO_ID = MEASURES_MESSAGE_DO_ID
			where 
				MEASURES_MESSAGE_DO_ID = #{MEASURES_MESSAGE_DO_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CLIENT_PROBLEM_COLLECTION_ID,	
			COMPANY_ID,	
			MEASURESNAME,	
			CREATETIME,	
			DOTIME,	
			EFFICIENT,	
			VALIDATION,	
			ATTACHMENTNURL,	
			RESPONSIBLE,	
			ATTACHMENTNAME,	
			EXECUTIONDATE,	
			MEASURES_MESSAGE_DO_ID
		from 
			FT_MEASURES_MESSAGE_DO
		where 
			MEASURES_MESSAGE_DO_ID = #{MEASURES_MESSAGE_DO_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CLIENT_PROBLEM_COLLECTION_ID,	
				a.COMPANY_ID,	
				a.MEASURESNAME,	
				a.CREATETIME,	
				a.DOTIME,	
				a.EFFICIENT,	
				a.VALIDATION,	
				a.ATTACHMENTNURL,	
				a.RESPONSIBLE,	
				a.ATTACHMENTNAME,	
				a.EXECUTIONDATE,	
				a.MEASURES_MESSAGE_DO_ID
		from 
				FT_MEASURES_MESSAGE_DO a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CLIENT_PROBLEM_COLLECTION_ID,	
				a.COMPANY_ID,	
				a.MEASURESNAME,	
				a.CREATETIME,	
				a.DOTIME,	
				a.EFFICIENT,	
				a.VALIDATION,	
				a.ATTACHMENTNURL,	
				a.RESPONSIBLE,	
				a.ATTACHMENTNAME,	
				a.EXECUTIONDATE,	
				b.NAME,
				a.MEASURES_MESSAGE_DO_ID
		from 
				FT_MEASURES_MESSAGE_DO a
				LEFT JOIN SYS_USER b ON a.RESPONSIBLE = b.USER_ID
				where 1=1
				and a.CLIENT_PROBLEM_COLLECTION_ID = #{CLIENT_PROBLEM_COLLECTION_ID}
				order by a.CREATETIME ASC
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from FT_MEASURES_MESSAGE_DO
		where 
			MEASURES_MESSAGE_DO_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>