.ovahect{
    overflow: hidden;
    margin-bottom: 100px;
}
.datlect{
    width: 100%;
    height: 85px;
    border-top: 3px solid #00458A;
    position: relative;
    overflow: hidden;
    background: #f9f9f9;
    display: table;
}
.leflet{
    border-top: 85px solid #00458A;
    border-left: 0;
    border-right: 12px solid transparent;
    height: 0;
    width: 65px;
    position: absolute;
    top: 0;
    left: 0;
}
.riglet{
    border-top: 85px solid #00458A;
    border-right: 0;
    border-left: 12px solid transparent;
    height: 0;
    width: 65px;
    position: absolute;
    top: 0;
    right: 0;
}
.datlect h2{
    /* width: 83%; */
    /* margin: 0 65px; */
    padding: 0 97px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #00458A;
    /* margin-top: 15px; */
    line-height: 1.5em;
    display: table-cell;
    vertical-align: middle;
}
.borbox{
    border: 1px solid #dedede;
    padding: 0 75px;
    min-height: 800px;
}
.getheh{
    overflow: hidden;
    font-size: 0;
    letter-spacing: 0;
    text-align: center;
    margin: 30px 0 0 0;
    padding-bottom: 13px;
    border-bottom: 1px dashed #dddddd;
}
.getheh > div{
    font-size: 14px;
    letter-spacing: normal;
    display: inline-block;
    color: #00458A;
    margin: 0 25px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.zhengw{
    font-size: 16px;
    color: #828282;
    line-height: 2em;
}
/* .zhengw p{
    text-indent: 2em;
    margin-bottom: 40px;
    margin-top: 20px;
} */
.zhengw td{
	border-style:solid;
	border-width:1px;
}
.fujian{
    display: block;
    color: #00458A;
    margin-bottom: 30px;
    font-size: 14px;
}
.fujian img{
    vertical-align: bottom;
    margin-right: 10px;
    width: 24px;
    height: 21px;
}








