.equipboxs{
	border-bottom: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	box-sizing: border-box;
}
.equipul{
	width: 100%;
	height: 46px;
}
.equipul>li{
	float: left;
}
.equipul>li>a{
	display: block;
	color: #01448a;
	padding: 0px 15px;
}
.equipul>li:hover a{
	background-color: #01448a;
	color: white;
}
.eqnav_active>a{
	background-color: #01448a;
	color: white !important;
}
.equilis{
	width: 100%;
	padding:35px 0px 0px 0px;
	box-sizing: border-box;
}
.equilis>li{
	overflow: hidden;
	padding: 30px 20px;
	box-sizing: border-box;
	border-top: 1px solid #E4E4E4;
	
}
.equilis>li:first-child{
	padding-top: 0px;
	border-top: 0px solid #E4E4E4;
}
.equile{
	float: left;
	width: 309px;
	height: 198px;
	margin-right: 20px;
}
.equile>img{
	width: 100%;
	height: 100%;
}
.equiri{
	float: left;
}
.equiritop{
	font-size: 18px;
	color: #4c4c4c;
}
.equiritop:hover{
	color: #124388;
}
.equiribot{
	display: block;
	width: 92px;
	height: 36px;
	line-height: 36px;
	color: white;
	text-align: center;
	line-height: 36px;
	background-color: #1395d3;
	margin-top: 20px;
}
.equiri>p{
	margin-top: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 820px;
}
.chabtn{
	display: block;
	width: 560px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #929292;
	border: 1px solid #E4E4E4;
	margin: 40px auto 0px auto;
	cursor: pointer;
}
.chabtn:active{
	background: #fdfdfd;;
}