html{
	overflow-x: hidden;
}
body{
	margin-bottom: 0px !important;
}
p{
	margin-bottom: 0px;
}
a:hover,a:active,a:visited,a:link,a:focus{
	text-decoration: none;
	outline: none;
	color: none;
}
.oiswen_box{
	margin-right: 250px;
	transition: 0.5s;
}
body .oiswen_boxavite{
	margin-right: 0px;
}
.oiswen_titop{
	width: 100%;
	overflow: hidden;
}
.daohangbefor{
	margin-right: 3px;
}
.oiswen_titople{
	/*float: left;*/
	overflow: hidden;
}
.oiswen_titoplea{
	color: #3a3b47;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	float: left;
}
.oiswen_titopleb{
	color: #a9a9a9;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	/*margin-top: 10px;*/
	text-align: right;
	padding-right: 15px;
	float: right;
}
.oiswen_titopleb>a{
	color: #a9a9a9;
}
.oiswen_titopleb>a:last-child{
	color: #888888;
}
.oiswen_titopleb>span{
	margin: 0px 3px;
}
.oiswen_ss{
	float: right;
	position: relative;
	margin-top: 18px;
	width: 395px;
}
.oiswen_ss>span{
	position: absolute;
	top: 10px;
	left: 8px;
	color: #727272;
}
.oiswen_ss>input{
	background: white;
	text-indent: 17px;
}
.shijian_box{
	overflow: hidden;
	padding: 15px 92px 10px 30px;
	box-sizing: border-box;
	position: relative;
	margin-top: 10px;
	min-height: 140px;
	background-color: white;
}
.shijian_tit{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #3a3b47;
}
.shijian_ul{
	list-style: none;
	overflow: hidden;
	padding-left: 0px;
}
.shijian_ul>li{
	float: left;
	line-height: 50px;
	color: #3a3b47;
	margin-right: 50px;
	min-width: 160px;
	font-size: 14px;
}
.shijian_ul>li:last-child{
	margin-right: 0px;
}
.shijian_div{
	width: 103px;
	height: 103px;
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}
.shijian_div .shijian_d:first-child{
	color: #f86616;
}
.shijian_d{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #c2c2c2;
	text-align: center;
}
.shijian_d>p{
	height: 40px;
	line-height: 40px;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.shijian_d>em{
	font-style: normal;
	color: #c2c2c2;
}
.d_box{
	background-color: white;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 16px;
}
.d_divul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 1px;
	overflow: hidden;
	margin-top: 30px;
    margin-bottom: 67px;
}
.d_divul>li{
	position: relative;
	float: left;
	width: 11.1%;
}
.d_yys{
	position: relative;
	z-index: 2;
}
.d_yys>p:first-child{
	margin: 0px auto;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #c6c6c6;
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
}
.d_yys>p:last-child{
	color: #c6c6c6;
	font-size: 16px;
	margin-top: 22px;
	text-align: center;
}
.d_yydd{
	background-image: url(../img/tose.jpg);
	background-repeat: repeat-x;
	background-size:auto;
	width: 100%;
	height: 5px;
	position: absolute;
	left: 50%;
	top: 23px;
	z-index: 0;
}
.d_divul>.d_active1 .d_yys>p:first-child{
	background-color: #24bedf;
}
.d_divul>.d_active1 .d_yys>p:last-child{
	color: #24bedf;
}
.d_divul>.d_active1 .d_yydd{
	background-image: url(../img/tosa.jpg);
	height: 2px;
	top: 25px;
}
.d_divul>.d_active22 .d_yydd{
	background-image: url(../img/tosas.jpg);
	height: 2px;
	top: 25px;
}
.d_divul>.d_active22 .d_yys>p:first-child{
	background-color: #24cbb2;
}
.d_divul>.d_active22 .d_yys>p:last-child{
	color: #24cbb2;
}
.d_divul>.d_active2 .d_yys>p:first-child{
	background-color: #24cbb2;
}
.d_divul>.d_active2 .d_yys>p:last-child{
	color: #24cbb2;
}
.d_divul>.d_active2 .d_yydd{
	background-image: url(../img/tosb.jpg);
}
.d_divul>.d_active3 .d_yys>p:first-child{
	background-color: #fa6262;
}
.d_divul>.d_active3 .d_yys>p:last-child{
	color: #fa6262;
}
.d_divul>.d_active3 .d_yydd{
	background-image: url(../img/tosc.jpg);
}
.d_divul>.d_active4 .d_yys>p:first-child{
	background-color: #faad62;
}
.d_divul>.d_active4 .d_yys>p:last-child{
	color: #faad62;
}
.d_divul>.d_active4 .d_yydd{
	background-image: url(../img/tosd.jpg);
}
.d_divul li a{
	
}
.d_divul li:last-child .d_yydd{
	display: none;
}

.d_tit{
	font-size: 22px;
	color: #4d4d57;
	height: 94px;
	line-height: 94px;
	border-bottom: 1px solid #dedede;
	text-align: center;
	font-weight: normal;
	margin: 0px 35px;
}
/****右边部分***/
.right_zhineng{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	z-index: 20;
	transition: 0.5s;
}
body .right_zhineng_activ{
	right: -250px;
}
body .right_zhineng_activ .icon-angle-right:before{
	transform: rotate(180deg);
}
.right_zhineng:before{
	content: "";
    display: block;
    width: 280px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: white;
}
.icon-angle-right{
	transition: 0.5s;
	font-size: 18px;
}
.right_kongbai{
	width: 280px;
	height: 65px;
	position: relative;
}
.right_kongbai:before{
	content: "";
    display: block;
    width: 280px;
    height: 50px;
    background: #edeff5;
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: -1;
}
/*.right_kongbai:after{*/
	/*content: "";*/
    /*display: block;*/
    /*width: 280px;*/
    /*height: 10px;*/
    /*background: #edeff5;*/
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 0px;*/
    /*z-index: -1;*/
/*}*/
.right_zhiul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
	/*margin-top: 10px;*/
	width: 100%;
	overflow: hidden;
}
.right_zhiul>li{
	float: left;
	width: 140px;
	border-right: 1px solid #dadada;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	color: #24cbb2;
	font-size: 16px;
	text-align: center;
	border-top: 1px solid #24cbb2;
}
.right_zhip{
	padding: 3px 10px;
	box-sizing: border-box;
}
.right_zhip>.right_zhipb{
	color: black;
	font-weight: 600;
	font-size: 12px;
}
.right_ul{
	padding-left: 10px;
	margin-bottom: 40px;
}
.right_borbox{
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	box-sizing: border-box;
	color: #666666;
	font-size: 14px;
}
.right_table{
	width: 100%;
	font-size: 12px;
}
.right_table tr{
	border-top: 1px solid #dedede;
}
.right_table tr td{
	padding: 5px 0px;
}
.right_borbox>.right_borbo:last-child .right_ol{
	border-bottom: none;
}
.right_pp{
	padding: 3px 0px;
}
.right_ol{
	list-style-type: decimal;
	font-size: 12px;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
	border-bottom: 1px solid #dedede;
}
.right_ol>li{
	line-height: 20px;
}
.right_ul>li{
	padding-top: 2px;
	padding-bottom: 2px;
}
.right_zhip>p{
	padding: 5px 10px;
	box-sizing: border-box;
}
.right_xiangt{
	margin: 10px 10px 0px 10px;
	border-bottom: 1px solid #DEDEDE;
	box-sizing: border-box;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}
.right_xiangul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
	padding: 5px 10px;
	box-sizing: border-box;
}
.right_xiangul>li{
	width: 100%;
	border: 1px solid #dedede;
	border-radius: 5px;
	background-color: #f6f8f9;
	line-height: 35px;
	height: 35px;
	box-sizing: border-box;
	padding: 0px 5px;
	margin-top: 10px;
}
.right_xiangula{
	color: #333333;
	display: inline-block;
	max-width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.right_xiangulimg{
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}
.right_xiangulimg>img{
	display: block;
	vertical-align: middle;
	width: 18px;
}
.right_xiangula:hover{
	color: #008ed3;
}
.tight_guanbi{
	display: block;
	width: 15px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 150px;
	left: -15px;
	background-color: #999999;
	color: white;
	font-size: 16px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
}