@charset "utf-8";
*{margin: 0px;padding: 0px;}
body,html,input,textarea,select{
	font-family: "microsoft yahei";
	color: #010101;
	font-size: 14px;
}
ul,ol{list-style: none;}
a{text-decoration: none;outline: none;color: #010101;}
a:hover{text-decoration: none;color: #010101;}
img{border: none\9;*border: none;_border: none;}/****\9:ie6-10样式;*:ie7样式;_:ie6****/
.fl{float: left;}
.fr{float: right;}
.dis{display: none;}
.clex{clear: both;}/***父元素可以overflow: hidden或auto;注意：透明边框可以清除子元素带给父元素的magrin***/
.clexg{*zoom: 1;}
.clexg:after{clear: both;content:".";display: block;width: 0;height: 0;visibility: hidden;}
.usernone{
	-moz-user-select: none;
	/***火狐***/
	-webkit-user-select: none;
	/***webkit浏览器***/
	-ms-user-select: none;
	/***IE10***/
	-khtml-user-select: none;
	/***早期浏览器***/
	user-select: none;
}
/***透明兼容ie***//* 只支持IE6、7、8 */
@media \0screen\,screen\9 {
  .sfbg{
    background-color:black;
    filter:Alpha(opacity=90);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .login{
  	background-color:white;
    filter:Alpha(opacity=30);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .sfbgbox{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }
  .login>div{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }
}
.pageboxs{
	width:100%;
	background: white;
}
.pagebox{
	width: 1400px;
	margin: 0px auto;
}


